<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>블로그 상세화면 페이지</title>
</head>
<body>
    <div>번호:<%- data.no %></div>
    <div>제목:<%- data.title %></div>
    <div>내용:<%- data.context %></div>
    <div>작성자:<%- data.author %></div>
    <a href="/bloglist">목록으로</a>
</body>
</html>